<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="width: 700px; margin: 20px">
<h1>Agregar un Platillo al menu (POST)</h1>
<form action="/forms/platillos/" method="POST">{% csrf_token %}
    <div class="form-group">
      <label>Nombre del Platillo:</label>
      <input type="text" class="form-control" placeholder="Arroz con pollo" name="nombreP" required="required">
    </div>
    <div class="form-group">
      <label>Descripcion:</label>
      <textarea class="form-control" rows="3" name="descripcion" required="required"></textarea>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="nutri">Habilitar cuadro nutricional?</label>
    </div>
    <h4>Tipo</h4>
    <div class="radio">
      <label><input type="radio" name="tipo" value="1">Almuerzo</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="tipo" value="2">Desayuno</label>
    </div>
    <div class="radio disabled">
      <label><input type="radio" name="tipo" value="3">Plato a la carta</label>
    </div>

    <button type="submit" class="btn btn-default">Guardar</button>
  </form>

</div>
</body>
</html>