<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="width: 700px; margin: 20px">
<h1>Editar mi perfil (GET)</h1>
<form action="/forms/miPerfil/" method="GET">{% csrf_token %}
    <div class="form-group">
      <label>Nombre del comedor:</label>
      <input type="text" class="form-control" placeholder="Comedor Neo" name="comedorT" required="required">
    </div>
    <div class="form-group">
      <label>Bibliografia:</label>
      <textarea class="form-control" rows="3" name="bibliografia" required="required"></textarea>
    </div>
     <div class="form-group">
      <label >Seleccionar tipo de comedor:</label>
      <select class="form-control" name="tipoL">
        <option>Tiempo Completo</option>
        <option>Kiosko</option>
        <option>Restaurante</option>
        <option>Tienda</option>
      </select>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="ayud">Aceptar Ayudantes</label>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>

</div>
</body>
</html>