<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="width: 800px; margin: 20px">
    <h1>Comedor Neo</h1>
    <ul style="font-size:1.5em">
        <li><a href="">Agregar un Platillo (POST)</a></li>
        <li><a href="">Editar mi perfil (GET)</a></li>
    </ul>
</div>
</body>
</html>