<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Mi Perfil</h1>
<h2> {{ nombreCo }}</h2>
<p style="font-size:1.5em; margin: 15px;">
    Bibliografia: {{ biblio }} <br>
    Tipo de Local: {{ tipo }} <br>
    {{ ayu }} <br>
</p>
<p style="font-size:1.5em; margin: 15px;">
    <a href="/forms/">regresar al inicio</a>
</p>
</body>
</html>